<ion-content color="primary">
  <ion-grid>
      <br/>
    <ion-row>
        <ion-col class="text-center">
            <ion-text><h1>Best Driver Aquitaine</h1></ion-text>
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:-18%; margin-bottom:-10%;">
        <ion-col class="text-center">
            <img class="img-responsive center-block" width="200" height="200" src="assets/icon/automobile.png">
        </ion-col>
    </ion-row>
    <br/>
    <ion-row>
        <ion-col>
            <ion-input type="text" clearInput placeholder="Email" autocomplete [(ngModel)]="user.email" style="border-bottom-style: solid; border-width:1px; font-size: 120%;"></ion-input>
        </ion-col>
      </ion-row>
      <br/>
      <ion-row>
        <ion-col>
          <ion-input type="password" clearInput placeholder="Password" autocomplete [(ngModel)]="user.password" style="border-bottom-style: solid; border-width:1px; font-size: 120%;"></ion-input>
        </ion-col>
    </ion-row>
    <br/>
    <ion-row>
        <ion-col>
            <ion-button color="light" expand="full" shape="round" (click)="login(user)">Connexion</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="text-center">
            <ion-text>Vous n'avez pas de compte ?</ion-text><ion-text color="secondary" (click)="register()"> Créer un compte</ion-text>   
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
