<ion-content color="primary">
    <ion-grid>
        <br/>
        <ion-row>
            <ion-col class="text-center">
                <ion-text><h1>Register</h1></ion-text>
            </ion-col>
        </ion-row>
        <br/>
        <ion-row>
            <ion-col>
                <ion-avatar style="height:100px; width: 100px; margin-left: 20%">
                    <img src="assets/icon/avatar.png">
                </ion-avatar>
            </ion-col>
            <ion-col>
                <ion-select placeholder="Select type" style="font-size: 120%; border-bottom-style: solid; border-width:1px;">
                    <ion-select-option value="f">Client</ion-select-option>
                    <ion-select-option value="m">Chauffeur</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <br/>
        <ion-row>
            <ion-col>
                <ion-input type="text" clearInput placeholder="Nom" autocomplete [(ngModel)]="user.name1" style="border-bottom-style: solid; border-width:1px; font-size: 120%;"></ion-input>
            </ion-col>
            <ion-col>
                <ion-input type="text" clearInput placeholder="Prenom" autocomplete [(ngModel)]="user.name2" style="border-bottom-style: solid; border-width:1px; font-size: 120%;"></ion-input>
            </ion-col>
        </ion-row>
        <br/>
        <br/>
        <ion-row>
            <ion-col>
                <ion-input type="email" clearInput placeholder="Email address" autocomplete [(ngModel)]="user.email" style="border-bottom-style: solid; border-width:1px; font-size: 120%;"></ion-input>
            </ion-col>
        </ion-row>
        <br/>
        <ion-row>
            <ion-col>
                <ion-input type="password" clearInput placeholder="Password" autocomplete [(ngModel)]="user.password" style="border-bottom-style: solid; border-width:1px; font-size: 120%;"></ion-input>
            </ion-col>
        </ion-row>
        <br/>
        <br>
        <ion-row>
            <ion-col>
                <ion-button color="light" expand="full" shape="round" (click)="register(user)">Valider</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
      